.menuscreen {
  height: 640px;
  padding-top: 70px;

}

.addIcon {
  color: rgb(156, 235, 78);
}

.menuimage {
  background-image: url("../img/max-delsidh.jpg");
  background-size: cover;
}

.content {
  position: absolute;
}


/* opacity: 100%; */