.mainBody {
    height:640px;
     margin-top:0px;
  }
.width{
    width: 18rem
  }

.image{
  background-image: url("../img/the-climate.jpg");
  height:auto;
  width:100%;
  position:relative
}

cardBg{
  opacity:70%
}